
<div class ="form" >
  <form action="/index">
    <div class="row1">
      <div class="text"><label for="link">LINK</label></div>
      <input type="text" name="link" autofocus>
    </div>
    <div class="row2">
      <div class="text"><label for="description">DESCRIPTION</label></div>
      <input type="text" name="description" autofocus>
    </div>
    <div class="button">
      <button type="submit">ADD VIDEO!</button>
    </div>
  </form>
</div>
