<a class="home" href="/videos">HOME</a>

<div class="show" >
  <iframe frameborder="0" allowfullscreen  width="460" height="315" src="<%= @video['link'] %>" method="get"></iframe>
  <h1><%= @video['title'] %></h1>
  <p><%= @video['description']%></p>
</div>
