body {
  font-family: 'Montserrat', sans-serif;
  color: green;
}
header {
  background-color: black;
  color: white;
  font-size: 100px;
  text-align: center;
}
button {
  border-style: none;
  background-color: black;
  color: white;

}
.form {
  margin-top: 50px;
  text-align: center;
  vertical-align: middle;
}
.small {
  font-size: 10px;
}